*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
Georgia,serif;

background:
linear-gradient(
135deg,
#fff5f5,
#f3d4d4
);

color:#6b4148;

text-align:center;

}



.opening{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}



.opening h1{

font-size:55px;

font-style:italic;

color:#a56c75;

}



button,
.button{


background:#a56c75;

color:white;

padding:15px 35px;

border-radius:40px;

border:none;

text-decoration:none;

cursor:pointer;


}



section{

padding:60px 20px;

}



.couple{


width:280px;

height:280px;

border-radius:50%;

object-fit:cover;

border:
8px solid white;

box-shadow:
0 20px 40px #0003;


}



h1{

font-size:45px;

color:#a56c75;

}



span{

color:#d19b62;

}



.card{

margin:20px;

background:white;

border-radius:30px;

padding:30px;

box-shadow:
0 10px 30px #0002;

}



#countdown{

font-size:35px;

}



@media(max-width:600px){

.opening h1{

font-size:40px;

}


.couple{

width:200px;

height:200px;

}


}
