body{

margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#f8dddd,
#fff5f5
);

font-family:serif;

}



.container{

text-align:center;

}



#open{

padding:15px 30px;

border:none;

background:#b47b82;

color:white;

border-radius:30px;

font-size:18px;

cursor:pointer;

}



.book{

width:700px;
height:450px;

display:flex;

perspective:2000px;

margin-top:30px;

}



.page{

width:50%;
height:100%;

background:#fff4f3;

border:1px solid #d9b4a8;

padding:30px;

box-sizing:border-box;


box-shadow:
0 20px 40px rgba(0,0,0,.2);

transform-origin:left;


}



.cover{

transform-origin:right;

transition:2s;

}



.cover img{

width:220px;

border-radius:50%;

}



h1{

color:#a56b72;

font-size:45px;

font-style:italic;

}



.open .cover{

transform:
rotateY(-150deg);

}



.date{

margin-top:30px;

line-height:2;

}



@media(max-width:700px){

.book{

width:95vw;
height:350px;

}


h1{

font-size:30px;

}


}
